body {
      margin: 0;
      padding: 0;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}

.text-style-small {
      font-size: 18px;
      color: #e5e7eb;
      margin-bottom: 10px;
}

.header-section {
      background-color: #1f2937;
      display: flex;
      justify-content: center;
}

.header-container {
      width: 900px;
      color: #f9faf8;
}

.header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin: 0;
      padding: 0 0px;
}

ul {
      display: flex;
      gap: 20px;
      list-style-type: none;
}

a {
      color: #f9faf8;
      text-decoration: none;
}

.header-main {
      display: flex;
      margin: 0;
      justify-content: space-between;
      padding: 75px 0px;
}



.header-main-left {
      flex: 1;
      padding-right: 10px;
}

.title-text {
      margin: 0;
      font-size: 48px;
      margin-bottom: 10px;
}

.header-main-left button,
button {
      background-color: #3882f6;
      color: white;
      padding: 10px 30px;
      border: 1px solid black;
      border-radius: 10px;
}

.header-main-right {
      display: flex;
      border: 3px solid grey;
      width: 450px;
      flex: 1;
      align-items: center;
      text-align: center;
      font-size: 25px;
}

.info-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      padding-bottom: 75px;
      
}

.info-section-title {
      font-size: 36px;
      color: #1f2937;
      margin-top: -10px;
}

.info-container {
      display: flex;
      justify-content: center;
      gap: 50px;
      
}

.card {
      width: 150px;
      height: 150px;
      border: 3px solid #3882f6;
      border-radius: 10px;
}

.card-container {
      width: 150px;
      text-align: center;
}

.quote-section {
      background-color: #e5e7eb;
      display: flex;
      justify-content: center;
      padding: 75px;
}

.quote-container {
      width: 700px;
      display: flex;
      flex-direction: column;
}

.thor {
      align-self: flex-end;
}

p {
      margin: 0;
}

.quote {
      font-size: 36px;
      color: #1f2937;
      font-weight: 300;
}

.action-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
}

.action-container {
      width: 900px;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      background-color: #3882f6;
      padding: 50px;
      gap: 50px;
      border-radius: 10px;
}

.action-left {
      color: white;
}

.action-button {
      border: 1px solid white;
}

.footer-section {
      background-color: #1f2937;
      color: white;
      text-align: center;
      padding: 30px;
}